body{
  background-color: #883677;
}
a{
  color: white;
      font-family: arial;
}
video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.titulo{
    font-family: 'Pamela',          
    sans-serif;
    font-size: 60px;
    background: black;
    text-align: center;
    font-weight: 200;
    mix-blend-mode: multiply;                                               
}
